<%- include('../partials/header.ejs')%>
    <!--Main-->
    <main class="item-details-main">
        <div class="item-details">
            <img id= 'shirt' src="<%=item.image%>" alt="<%=item.title%>">
            <div class="item-details-content">
                    <h2><%=item.title%></h2>
                    <h3>Condition: <%=item.condition%></h3>
                    <h3>Price: $<%=item.price%> | <%=item.totalOffers%> offers</h3>
                    <h4>Seller: <%=item.seller.firstName + ' ' + item.seller.lastName%></h4>
                    <p><%=item.details%></p>
                    <%if(user == item.seller.id){%>
                        <form>
                            <button type="submit" formmethod="GET" formaction="/items/<%=item.id%>/edit">Edit</button>
                            <button type="submit" formmethod="POST" formaction="/items/<%=item.id%>?_method=DELETE">Delete</button>
                        </form>
                    <%}%>
                    <%if(user != item.seller.id && active){ %>
                        <form  method="POST" action="/items/<%= item.id%>/offers/">
                            <div>
                                <input type="number" name="amount" placeholder="0.00" required>
                            </div>
                            <button type="submit">
                                Make an Offer
                            </button>
                        </form>
                        <%}%>
                    <% if(active && item.totalOffers >= 1){ %>
                        <p>Currect Highest Offer is: $<%=item.highestOffer%></p>
                        <%  }%>
                        <% if(!active && user != item.seller.id){ %>
                            <p>Unfortunately, this item is no longer avaiable</p>
                        <%}%>

                </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>